* {
  margin: 0;
  padding: 0;
}
.custom-topheader {
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: black;
  height: auto;
  font-family: Poppins;
  font-size: 16px;
  padding: 12px 0px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  word-spacing: 2px;
  margin-bottom: 1rem;
  color: var(--text, #fafafa);
}
.custom-topheader p {
  margin: 0;
}
.custom-mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.custom-links {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.custom-menu-item {
  text-align: center;
  color: 808080;
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  background: "rgba(0, 0, 0, 0.04)";
  backdrop-filter: blur(75px);
}
.custom-linkText {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
.custom-linkTextSide {
  text-decoration: none;
  color: #808080;
  font-size: 15px;
}
.custom-logo {
  padding-top: 9px;
}
.custom-logo p {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.72px;
}
.custom-linkTextSide.active {
  padding-left: 5px;
  border-radius: 12px;
  border: 1px solid #db4444;
  border-bottom: none;
  color: #db4444;
  border-top: none;
  border-right: none;
  border-left-width:7px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.custom-linkTextSide:not(.active) {
  border-bottom: none;
}

.custom-linkText.active{
  border-bottom: 1px solid #db4444;
}
.custom-linkText:not(.active) {
  border-bottom: none;
}

.custom-hamburger {
  display: none;
  padding: 0 1rem;
}
@media screen and (max-width: 878px) {
  .custom-links,
  .custom-avtar,
  .custom-logo {
    display: none !important;
  }
  .custom-mainContainer {
    justify-content: flex-start;
  }
  .custom-searchandwatchandCart {
    display: block;
  }
  .custom-hamburger {
    display: flex;
    justify-content: space-between;
  }
  .custom-linkText {
    color: #808080;
  }
}
.watchlist,
.cart {
  display: none;
}
@media screen and (max-width: 1016px) {
  .custom-logo {
    display: none;
  }
}

@media screen and (max-width: 398px) {
  .icons {
    display: none;
  }
  .watchlist,
  .cart {
    display: flex;
  }

  .custom-hamburger {
    justify-content: space-around;
  }
}

@media screen and (max-width: 323px) {
  .custom-hamburger {
    flex-direction: column;
  }
}
.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.3s ease-in;
}

.custom-sidebarHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 0.4px solid #ccc;
}

.custom-searchandwatchandCart {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.custom-sidebarLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}
.custom-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.custom-input input {
  border: none;
  outline: none;
  background: var(--secondary, #f5f5f5);
  opacity: 0.7;
}
.custom-input input:focus {
  border-bottom: 2px solid #f5f5f5;
}
.custom-searchicon {
  position: absolute;
  left: 12rem;
}
