.navbarCont {
  margin-bottom: 38px;
}
.loginSvg {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: space-evenly;
  align-items: center;
}

.loginText {
  color: var(--text-2, #000);

  /* Heading/36PX Medium */
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 83.333% */
  letter-spacing: 1.44px;
}
.loginInput {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.loginSmallText {
  color: var(--text-2, #000);

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.SignupFileds::placeholder {
  color: var(--text-2, #000);

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.4;
  line-height: 24px; /* 150% */
}

.SignupFileds {
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #808080;
  outline: none;
}
.SignupFileds:focus {
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #808080;
}

.submit {
  border-radius: 4px;
  padding: 12px 122px;
  background: var(--button-2, #db4444);
  color: var(--text, #fafafa);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 1.4rem;
}
.already {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 1rem;
}
.alreadytext {
  color: var(--text-2, #000);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
  line-height: 24px; /* 150% */
}

.link {
  color: var(--text-2, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}
