* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  display: flex;
  justify-content: space-around;
}
.links {
  display: flex;
  gap: 3rem;
}
.linkText {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
.logo p {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}
