.cont {
    background-color: #0f0f0f;
    padding: 50px 0;
    padding-left: 24px;
    margin-top: 10rem;
    color: aliceblue;
    position: relative;
}

.root {
    display: flex;
    gap: 87px;
    flex-wrap: wrap;
}

.input {
    position: relative;
}

.emailinput {
    border: 1px solid #ffff;
    outline: none;
    background-color: transparent;
}

.emailinput::focus {
    border: 1px solid #ffff;
}

.sendbutton {
    position: absolute;
    top: 0;
    left: 10rem;
    border: none;
    background-color: transparent;
}

.headtext {
    color: var(--text, #FAFAFA);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.smalltext {
    color: var(--text, #FAFAFA);
    /* Title/16PX Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.copyright {
    color: var(--primary, #FFF);
    /* Title/16PX Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}