.optionsAndcursole {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
  border-right: 1px solid #777;
  padding-right: 3rem;
}

.links {
  text-decoration: none;
  font-family: Poppins;
  color: var(--text-2, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (max-width: 974px) {
  .links {
    display: none;
  }
  .options {
    border: none;
    display: none;
  }
}

.container {
  display: flex;
  gap: 30px;
  padding: 2rem 8rem;
}

.dayinner {
  display: flex;
  gap: 30px;
}
.slider {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.time {
  display: flex;
  gap: 30px;
}

.days {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.todaytext {
  padding-left: 5px;
  color: var(--secondary-2, #db4444);
  border-radius: 4px;
  border: 2px solid #db4444;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left-width: 12px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.flashtext {
  color: var(--text-2, #000);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1.44px;
  margin-bottom: 1rem;
}
.timeheadText {
  color: var(--text-2, #000);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.timebodyText {
  color: var(--text-2, #000);

  /* Heading/32PX Bold */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
  letter-spacing: 1.28px;
}
.products {
  /* padding: 0 2rem; */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1130px) {
  .products {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 857px) {
  .products {
    justify-content: center;
  }
}
@media screen and (min-width: 852px) and (max-width: 1247px) {
  .products {
    justify-content: center;
  }
}

.catagories {
  padding: 2rem;
}
.bestcatg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.cursoleItemOuter {
  width: auto;
  height: 300px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.discountText {
  color: var(--text, #fafafa);

  width: 65%;
  /* Heading/48PX SemiBold */
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
}
.shopNowButton {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  
}
.shopNowText {
  color: var(--text, #fafafa);
  text-align: center;
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-bottom:1px solid #fafafa;
   /* 150% */
}
.productNameText {
  color: var(--text, #fafafa);
  text-align: center;

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.firstPhase {
}
.productName {
  display: flex;
  align-items: center;
}
.viewMore {
  border-radius: 4px;
  background: var(--button-2, #db4444);
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text, #fafafa);

  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
